# Group Exercise

In [1]:
import pandas as pd
import numpy as np

In [3]:
location = ["Denver", "Aurora", "Aurora", "Denver", "Aurora"]*2
gender =  ["male", "male", "female", "female"]*2 + ["male", "male"]
default = [0, 0, 1, 1, 0, 0, 0, 1, 1, 1]
zipped = zip(location, gender, default)
data = pd.DataFrame(zipped, columns=["location", "gender", "default"])
data

  location  gender  default
0   Denver    male        0
1   Aurora    male        0
2   Aurora  female        1
3   Denver  female        1
4   Aurora    male        0
5   Denver    male        0
6   Aurora  female        0
7   Aurora  female        1
8   Denver    male        1
9   Aurora    male        1

In [7]:
# rule ----> if location=Denver and a gender=male, predict default
rule_condition = np.array(['Denver', 'male'])
for row in data.values: 
    testing_condition = row[0:2] == rule_condition 
    print(testing_condition)

[ True  True]
[False  True]
[False False]
[ True False]
[False  True]
[ True  True]
[False False]
[False False]
[ True  True]
[False  True]